.audiusLoginButton { font-family: 'Avenir Next LT Pro' };
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spinner {
  margin-left: 45px;
  width: 40px;
  height: 40px;
  border: 4px solid var(--harmony-n-100);
  border-top: 4px solid var(--harmony-p-400);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}